################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/.vs/Sample_Plugin
/Source/Just_For_EFCore/bin/Debug/netcoreapp3.1
/Source/Just_For_EFCore/obj
/Source/Plugin.Api/bin
/Source/Plugin.Api/obj
/Source/Plugin.Api/Properties/PublishProfiles
/Source/Plugin.Api.OData/bin/Debug/netstandard2.0
/Source/Plugin.Api.OData/obj
/Source/Plugin.Application/bin/Debug/netstandard2.0
/Source/Plugin.Application/obj
/Source/Plugin.Application.Acls/bin/Debug/netstandard2.0
/Source/Plugin.Application.Acls/obj
/Source/Plugin.Application.Contracts/bin/Debug/netstandard2.0
/Source/Plugin.Application.Contracts/obj
/Source/Plugin.Application.Contracts.OData/bin/Debug/netstandard2.0
/Source/Plugin.Application.Contracts.OData/obj
/Source/Plugin.Application.EventHandlers/bin/Debug/netstandard2.0
/Source/Plugin.Application.EventHandlers/obj
/Source/Plugin.Composition/bin/Debug/netstandard2.0
/Source/Plugin.Composition/obj
/Source/Plugin.Composition.Development.Integration/bin/Debug/netstandard2.0
/Source/Plugin.Composition.Development.Integration/obj
/Source/Plugin.IntegrationTests/bin/Debug/netstandard2.0
/Source/Plugin.IntegrationTests/obj
/Source/Plugin.Repositories.EFCore/bin/Debug/netstandard2.0
/Source/Plugin.Repositories.EFCore/obj
/Source/Plugin.Unit.Tests/obj
/Source/Plugin.Unit.Tests/bin/Debug/netstandard2.0
